-r requirements-lint.txt
-r requirements.txt
modelscope==1.35.3
openai
pytest >= 6.0,<9.0.0
pytest-asyncio
pytest-mock
lm-eval==0.4.12
types-jsonschema
xgrammar
zmq
types-psutil
pytest-cov
regex
sentence_transformers
ray>=2.47.1,<=2.48.0
protobuf>3.20.0
jiwer
librosa
scipy
soundfile
pytest_mock
mindstudio-probe>=8.3.0
xlite==0.2.0rc0
uc-manager
ninja
coverage
